* {
    margin: 0%;
    padding: 0%;
}

.menu {
    background-color: rgb(6, 110, 20);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
    list-style-type: none;
    margin: 0px;
    padding: 30px;
    gap: 20px;

}

.logo {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

body {
    background-image: url(img_fundo.png);
}

img {
    display: flex;
    justify-content: center;

}

p,
h3,
h1
.lis {
    color: aliceblue;
}

.jogos {
    list-style-type: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}