* {
    margin: 0%;
    padding: 0%;
}

.menu {
    background-color: rgb(19, 4, 104);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
    list-style-type: none;
    margin: 0px;
    padding: 30px;
    gap: 20px;

}

.logo {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(233, 139, 16);
    text-decoration: none;
}

body {
    background-image: url(img_fundo.png);
}

p,h3,h1,h2,.lis,.Pongue,.PacMan,.tetris,.space_invaders{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jogos {
    list-style-type: none;
    display: inline-block;
    font-family: sans-serif;
}

.fliperama{
  display: flex;
  justify-content: center; 
  align-items: center;
}
